<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.openup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenUp"
        android:usesCleartextTraffic="true">
        <activity android:name=".BeginningActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChatPageActivity" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation" />
        <activity android:name=".LoginActivity">
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>